h2 {
    padding: 1rem 0 3rem 0;
    text-align: center;
}

.episodeContainer {
    margin: 0 auto 3rem auto;
    display: flex;
    overflow-x: scroll;
    gap: 0 3rem;

    padding: 1rem 2rem;
    background: #00000030;
    border-radius: 0.5rem;

    box-shadow: 0 0 100px #00508b;
}

.popularEpisode,
.resEpisode {
    max-width: 200px;
    position: relative;

    transition: 0.3s all ease-in-out;
}

.popularEpisode img,
.resEpisode img {
    width: 100%;
    min-width: 200px;
    height: 250px;
    object-fit: cover;
    border-radius: 0.5rem;
}

.popularEpisode img.isFavAdded,
.resEpisode img.isFavAdded {
    box-shadow: 0 0 12px #2ad813;
}

.legend {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0.3rem 0;
}

.legend button {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background: black;

    padding: 0.5rem;
    border: none;
    box-shadow: 0 0 3px white;
    border-radius: 0.2rem;

    opacity: 0;

    transition: 0.2s all ease-in-out;
}

.legend button:hover {
    box-shadow: 0 0 10px rgb(4, 251, 25), 0 0 5px rgb(0, 59, 5);
    transform: scale(1.05);
}

.popularEpisode:hover .legend button,
.resEpisode:hover .legend button {
    opacity: 1;
}

.legend strong {
    line-height: 1.4rem;
    filter: brightness(0.95);
}

.legend strong:hover {
    cursor: pointer;
    text-decoration: underline;
}

.legend span {
    font-size: 0.875rem;
    padding: 0.2rem 0;
    filter: brightness(0.6);
}

.remainingEpisodes {
    display: flex;
    flex-wrap: wrap;
    gap: 0 1.2rem;
    justify-content: space-evenly;

    gap: 3rem;

    padding: 1rem 2rem;
    border-radius: 0.5rem;

    max-width: 1261px;
    margin: auto;
}

.popularEpisode {
    max-width: 200px;
    position: relative;

    transition: 0.3s all ease-in-out;
}

.footerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 3rem 0;
}

.footerContainer button {
    padding: 1rem;
    background: transparent;
    outline: transparent;
    border: 1px solid white;
    border-radius: 0.5rem;
    font-size: 1.1rem;
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: 0.1rem;
}

.favAdd {
    box-shadow: 0 0 10px rgb(0, 240, 0);
}

@media screen and (max-width: 571px) {
    .remainingEpisodes {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }

    .resEpisode {
        max-width: 150px;
    }

    .resEpisode img {
        min-width: auto;
    }
}
