.previousButtonContainer {
    max-width: 1300px;
    margin: auto;
}

.previousButtonContainer button {
    padding: 0.5rem 1rem;
    background: transparent;
    font-size: 0;
    border: none;
    border-radius: 0.5rem;

    transition: 0.2s;
}

.previousButtonContainer button:hover {
    background: rgba(251, 251, 251, 0.212);
    transform: scale(1.2);
}