* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --gray-500: #808080;
}

body, button, input, textarea {
    font: 500 1rem Inter, sans-serif;
    color: white;
}

body {
    background: rgb(0, 11, 36);
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

button {
    cursor: pointer;
}

@media (max-width: 1080px) {
    html {
        font-size: 93.75%;
    }
}

@media (max-width: 720px) {
    html {
        font-size: 87.5%;
    }
}